


.banner {
  background-image: url('myfashion.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 395px;
  margin-top: 94px;
}
