.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .header .text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .inputs .input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .input img {
    margin-right: 10px;
  }
  
  .submit-container .submit {
    padding: 12px;
    margin: 5px;
    background-color: #ff6347;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  


  /* add some css for loginsignup */
  .header {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .header-button {
    background: transparent;
    border: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    color: #797979;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    outline: none;
  }
  
  .header-button.active {
    color: #3c009d;
    border-bottom: 3px solid #3c009d;
  }
  
  .header-button:hover {
    color: #4c00b4;
  }
  
  /* Message Styling */
  .message {
    margin: 15px auto;
    text-align: center;
    font-size: 16px;
    color: green;
  }
  
  .message.error {
    color: red;
  }
  